.carousel-wrapper-aglm {
  max-width: 65%;
  margin: 20px;
  box-shadow: 0 0 10px 2px #282c34;
  
}

.highlight-image-container {
  height: 100%;
  overflow: hidden;
}

.highlight-short-image {
  height: 100%;
}