
.og-container{
    flex-direction:column;
    width:100%;
}

.heading{
    font-size:30px;
    font-weight:bold;
    color:#282c34;
    align-self: start;
    padding:20px;
    background:linear-gradient(transparent,rgb(230, 229, 233),transparent);
    
}

.underline{
    background-color: #282c34;
    height: 5px;
    border-radius: 10px;
    width:40%;
    margin-bottom: 20px;
    align-self: start;
}

.row-scroll{
    width:100%;
    display:flex;
    flex-direction:row;
    align-self: start;
    overflow-x: scroll;
    position:relative;
    overflow:scroll;
}
